<meta charset="UTF-8">
<script type="text/javascript">
    $(function(){
        //顶部导航切换
        $("#demo-list li").click(function(){
            $("#demo-list li.active").removeClass("active")
            $(this).addClass("active");
        })
    })
    jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
</script>
<div ng-controller="adminlogSucCtrl">
    <ul class="nav-box">
        <li class="logo" ng-click="goindex()"><img src="/travel/images/logo.png"></li>
        <li>{{username}}</li>
        <li ng-click="adminlogout()">注销</li>
    </ul>
</div>
<div>
    <div class="content">

        <div id="jquery-accordion-menu" class="jquery-accordion-menu red">
            <div class="jquery-accordion-menu-header" id="form"></div>
            <ul id="demo-list">

                <li  class="active"><a ui-sref="adminSuccess.welcome"><i class="fa fa-home"></i>Home</a></li>
                <li ><a href="javascript:"><i class="fa fa-glass"></i>查看订单</a>
                    <ul class="submenu">
                        <li><a ui-sref="adminSuccess.findorder">按时间段查看</a></li>
                    </ul>
                </li>
                <!--<li ><a ui-sref="adminSuccess.findorder"><i class="fa fa-glass"></i>查看订单</a></li>-->
                <li ><a href="javascript:"><i class="fa fa-cog"></i>景点管理</a>
                    <ul class="submenu">
                        <li ><a ui-sref="adminSuccess.addproduct">添加景点</a></li>
                        <li ><a ui-sref="adminSuccess.fixproduct">修改景点</a></li>
                    </ul>
                </li>
                <li ><a href="javascript:"><i class="fa fa-envelope"></i>申请管理</a>
                    <ul class="submenu">
                        <li ><a ui-sref="adminSuccess.findApply">查看申请 </a></li>
                        <li ><a ui-sref="adminSuccess.passApply">同意申请 </a><span class="jquery-accordion-menu-label">10 </span>
                        </li>
                        <li ><a ui-sref="adminSuccess.nopassApply">拒绝申请 </a></li>
                    </ul>
                </li>
                <li ><a href="javascript:"><i class="fa fa-user"></i>用户管理</a>
                    <ul class="submenu">
                        <li ><a ui-sref="adminSuccess.findnormalUser">冻结用户</a></li>
                        <li ><a ui-sref="adminSuccess.findUnnormalUser">解除冻结</a></li>
                    </ul>
                </li>
            </ul>
            <!--<div class="jquery-accordion-menu-footer">-->
                <!--Footer-->
            <!--</div>-->
        </div>
    </div>

    <div>
        <div ui-view></div>
    </div>
</div>
