<meta charset="UTF-8">
<div ng-controller="logSucCtrl">
    <ul class="nav-box-first" ng-if="username">
        <li class="logo" ng-click="goindex()"><img src="/travel/images/logo.png"></li>
        <li ng-click="userlogout()">注销</li>
        <li ng-click="goPersonInfo()" data-toggle="modal" data-target="#personinfo">{{username}}</li>
        <li ng-click="checkComment()">我的评论</li>
        <li ng-click="getRebackApp()">我的申请</li>
        <li><div class="btn-group">
            <div type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                查看订单 <span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
                <li><a ng-click="getAllOrder()">所有订单</a></li>
                <li><a ng-click="getnopayOrder()">未支付订单</a></li>
                <li><a ng-click="getpayOrder()" >已支付订单</a></li>
                <li><a ng-click="getfinishOrder()">已完成订单</a></li>
            </ul>
            </div>
        </li>
    </ul>
    <!--<div class="modal fade bs-example-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">-->
        <!--<div class="modal-dialog modal-lg" role="document">-->
            <!--<div class="modal-content">-->
                <!--<div>{{user.username}}</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="modal fade"  ng-if="username" id="personinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>个人信息</h3>
                </div>
                <div class="modal-body">
                    <h4>用户名:<input type="text" ng-model="user.username"></h4>
                    <h4>电话:<input type="tel" ng-model="user.phone"></h4>
                    <h4>邮箱:<input type="email" ng-model="user.email"></h4>
                </div>
                <div>
                    <button type="button" class="tuiding-btn btn btn-success" data-dismiss="modal">取消</button>
                    <button type="button" class="tuiding-btn btn btn-primary" data-dismiss="modal" ng-click="checkUserInfo()">确定修改</button>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav-box-first"  ng-if="!username">
        <li class="logo"><img src="/travel/images/logo.jpg"  ng-click="goindex()"></li>
        <li ui-sref="register">立即注册</li>
        <li ui-sref="login">登录</li>
    </ul>
</div>

<div ui-view></div>
