<meta charset="UTF-8">
<div ng-controller="orderCtrl" class="panel panel-default out-container">
    <table class="table table-bordered table-hover" class="panel-body">
        <tr>
            <th>景点名</th>
            <th>景点地点</th>
            <th>出发时间</th>
            <th>人数</th>
            <th>出发地点</th>
            <th>价格</th>
        </tr>
        <tr ng-repeat="item in order">
            <td>{{item.productname}}</td>
            <td>{{item.proplace}}</td>
            <td>{{item.godata}}</td>
            <td>{{item.gonumber}}</td>
            <td>{{item.goplace}}</td>
            <td>{{item.price}}</td>
        </tr>
    </table>
</div>