<meta charset="UTF-8">
<div ng-controller="payedorderCtrl">
    <table class="table table-bordered">
        <tr>
            <th>景点名</th>
            <th>景点地点</th>
            <th>出发时间</th>
            <th>人数</th>
            <th>出发地点</th>
            <th>价格</th>
            <td>操作</td>
        </tr>
        <tr ng-repeat="item in order">
            <td>{{item.productname}}</td>
            <td>{{item.proplace}}</td>
            <td>{{item.godata}}</td>*
            <td>{{item.gonumber}}</td>
            <td>{{item.goplace}}</td>
            <td>{{item.price}}</td>
            <td>
                <button class="btn btn-small btn-primary" ng-click="rebackparam(item.orderid)" data-toggle="modal" data-target="#apply">申请退订</button>
                <button class="btn btn-small btn-primary" ng-click="endOrder(item.orderid)">完成订单</button>
            </td>
        </tr>
    </table>
    <div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>你确定要退订吗？</h3>
                </div>
                <div class="modal-body">
                    <h4>退订原因:<input type="text" ng-model="reason"></h4>
                </div>
                <div>
                    <button type="button" class="tuiding-btn btn btn-success" data-dismiss="modal">取消</button>
                    <button type="button" class="tuiding-btn btn btn-primary" ng-click="reback()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>