
<meta charset="UTF-8">
<div ng-controller="getProCtrl" class="product-box">


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner"  role="listbox">
            <div class="item" ng-class="{true:'active',false:''}[$index==0]"  ng-repeat="item in product">
                <img src={{item.imageurl}} ng-click="productdetail(item.productid)">
                <div class="carousel-caption">
                    {{item.productname}}
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
    <div class="homeShow">
    <span class="product-content" ng-repeat="item in product" ng-click="productdetail(item.productid)">
        <img src={{item.imageurl}}>
        <span>{{item.productname}}</span>
    </span>
    </div>
</div>