<meta charset="UTF-8">

<div ng-controller="registerCtrl" id="register">
    <ul class="nav-box-first">
        <li class="logo"><img src="/travel/images/logo.png" ng-click="cancel()"></li>
    </ul>
    <form class="form-horizontal" role="form" name="myForm" novalidate>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-9" >
                <div class="col-sm-8">
                    <input type="text" data-toggle="popover" data-content="用户名已存在" class="mmm form-control" id="username"
                           name="username" ng-model="username"
                           placeholder="请输入用户名" ng-blur="checkUserName()">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">密&emsp;码</label>
            <div class="col-sm-9">
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password"
                           name="password" ng-model="password" placeholder="请输入密码"
                           required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">确定密码</label>
            <div class="col-sm-9">
                <div class="col-sm-8">
                    <input type="password" data-toggle="popover" data-content="两次输入密码不一致" class="password_err form-control" id="ensurepwd"
                           name="ensurepwd" ng-model="ensurepwd" placeholder="请输入密码"
                           required ng-blur="ensurePws()">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">手机号</label>
            <div class="col-sm-9">
                <div class="col-sm-8">
                    <input type="text" maxlength="11" data-toggle="popover" data-content="号码格式错误" class="phone_err form-control" id="phone"
                           name="phone" ng-model="phone" placeholder="请输入手机号"
                           required ng-blur="checkphone()">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱</label>
            <div class="col-sm-9">
                <div class="col-sm-7">
                    <input type="email" data-toggle="popover" data-content="邮箱格式错误" class="email_err form-control emailinput" id="email"
                           name="email" ng-model="email" placeholder="请输入邮箱"
                           required ng-blur="checkemail()">
                </div>
                <button class="btn btn-small btn-primary emailbutton col-sm-1" ng-click="sendCode()">发送验证码</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">验证码</label>
            <div class="col-sm-9">
                <div class="col-sm-8">
                    <input  type="text" maxlength="6" data-toggle="popover" data-content="激活码错误" class="checkcode_err form-control" id="checkcode"
                           name="checkcode" ng-model="checkcode" placeholder="请输入激活码"
                           required ng-blur="check()">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="button" class="btn btn-primary"  id="regis" ng-disabled="isdisabled" ng-click="register()">注册</button>
                <button type="button" class="btn btn-primary"  ng-click="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>