<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver"></property>	 
		<property name="url"
			value="jdbc:mysql://localhost:3306/ordermanager?characterEncoding=utf8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="1234"></property> 
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.order.entity.Application</value>
				<value>com.order.entity.Comment</value>
				<value>com.order.entity.Order</value>
				<value>com.order.entity.Product</value>
				<value>com.order.entity.User</value>
			</list>
		</property>
		</bean>
		<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="timer"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean class="com.order.util.Timer" />
		</property>
		<property name="targetMethod" value="doTimer" />
		<property name="concurrent" value="false" /><!-- 作业不并发调度 -->
	</bean>
	 
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="timer" />
		<property name="startDelay" value="0" />
		<property name="repeatInterval" value="10000" />
	</bean>
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="timer" />
		<property name="cronExpression" value="0 30 0 * * ?" />
	</bean>
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>
	
	
	<bean id="UserDAO" class="com.order.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ProductDAO" class="com.order.dao.ProductDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrderDAO" class="com.order.dao.OrderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ApplicationDAO" class="com.order.dao.ApplicationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
	<bean id="userService" class="com.order.service.UserService">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
	</bean>
	<bean id="productService" class="com.order.service.ProductService">
		<property name="productDAO">
			<ref bean="ProductDAO" />
		</property>
	</bean>
	<bean id="orderService" class="com.order.service.OrderService">
		<property name="orderDAO">
			<ref bean="OrderDAO" />
		</property>
	</bean>
	<bean id="applicationService" class="com.order.service.ApplicationService">
		<property name="applicationDAO">
			<ref bean="ApplicationDAO" />
		</property>
	</bean>
	
	
	<bean id="userAction" class="com.order.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	<bean id="productAction" class="com.order.action.ProductAction" scope="prototype">
		<property name="productService" ref="productService"/>
	</bean>
	<bean id="orderAction" class="com.order.action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService"/>
		<property name="productService" ref="productService"/>
		<property name="applicationService" ref="applicationService"/>
	</bean>
</beans>